<aside class="offset- mt-4 col-4">

    <ul class="nav flex-column">
        <li class="nav-item my-2 text-center">
            <a [routerLink]="['/index-page']"  class="nav-link  btn btn-primary m-3">Home</a>
        </li>
        <li class="nav-item my-2 text-center">
            <a [routerLink]="['/appointment']" class="nav-link btn-primary m-3">Place Appointment</a>
        </li>
        <li class="nav-item my-2 text-center">
            <a [routerLink]="['/view-appointment']" class="nav-link btn-primary m-3">View Appointment</a>
        </li>
        <li class="nav-item my-2 text-center">
            <a [routerLink]="['/contact-us']"  class="nav-link btn-primary m-3">Contact Us</a>
        </li>
    </ul>

</aside>
<div class="offset col-2"></div>
