<!--style="background-image:url('allpage.jpg')" use it in the down div tag for background-->
                 <div>
                    <img src="assets/fitness.jpg" class="ml-3 mt-2 rounded-circle" alt="LOGO" style="width: 100px; height: 80px;">
                   
                <h3 style="color:black; text-align: center;">Book your Trainer and be fit</h3>
            
            </div>
    
          
            <nav class=" mt-4 navbar navbar-expand-lg navbar-light  bg-light">
    
                <div class="col" id="navbarText">
                <ul class="nav row nav-pills ">
    
                    <li class="col-sm-3 nav-item text-center">
                        <a [routerLink]="['/index-page']" class="nav-link btn-outline-primary" >Home </a>
                    </li>
                    <li class="col-sm-3 nav-item text-center">
                        <a  [routerLink]="['/appointment']"class="nav-link btn-outline-primary" >Place Appointment</a>
                    </li>
                    <li class="col-sm-3 nav-item text-center">
                        <a [routerLink]="['/view-appointment']"class="nav-link btn-outline-primary" >View Appointment</a>
                    </li>
                    <li class="col-sm-3 nav-item text-center">
                        <a [routerLink]="['/contact-us']" class="nav-link btn-outline-primary" >Contact</a>
                    </li>
    
                </ul>
              
                </div>
    
            </nav>
        
    