<div class="mt-4 offset-1 col-10 text-center">

        <div class="content container">

            <div class="row mt-4">
           
          <input type="button" value="Book Your Trainer" [routerLink]="['/appointment']"class="col-sm-10 btn btn-lg btn-block btn-primary  m-auto  "/>
            
        </div>
        <div class="row">

                 
            
        </div>
        
        <div id="slider">
          <figure >
              <img src="assets/track.jpg" />
              <img src="assets/fit.jpg" />
              <img src="assets/Working-Out-With-Chalk.jpg" />
              <img src="assets/gym.jpg.jpg"/>
              <img src="assets/wall.jpg.jpg" />
          </figure>
      </div>
</div>


   

